body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu button {
    width: 90%;
    border-radius: 10cap;
    border-color: transparent;
    background-color: rgb(182, 212, 212);
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    font-size: 0.9rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.MovieName {
    margin-top: 10px;
    font-size: 1.1rem;
}

.card img {
    border-radius: 5px 5px 0 0;
    width: 95%;
    height: auto;
    object-fit: cover;
    align-items: center;
    justify-content: center;
}

.tag-cloud.genre {
    display: inline-block;
    color: rgb(71, 0, 112);
    padding: 4px 10px;
    border-radius: 20px;
    background-color: #b597f3;
    margin-top: 4px;
}

.tag-cloud.language {
    display: inline-block;
    color: rgb(0, 48, 112);
    padding: 4px 10px;
    border-radius: 20px;
    background-color: #96c9f3;
    margin-top: 4px;
}

.image-container {
    position: relative;
    /* מאפשר למקם את ה-span מעל התמונה */
}

.rating {
    position: absolute;
    top: 10px;
    /* מרחק מהחלק העליון של התמונה */
    right: 25px;
    /* מרחק מהחלק הימני של התמונה */
    background-color: rgba(0, 0, 0, 0.5);
    /* רקע שקוף למחצה */
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.wishD {
    text-align: center;
}

.desc {
    margin-bottom: 8px;
}

.btnATWish {
    width: 150px;
    border-radius: 10cap;
    border-color: transparent;
    background-color: rgb(182, 212, 212);
    margin-bottom: 5px;
}

div.cardPart {
    padding: 0 5px;
}